/*PAGE INICIAL*/

body{
    overflow-x: hidden;
    transition: background-color 0.6s, color 0.6s;
    }

    .sidebar .nav-link-active {
      color: white;
      font-weight: bolder;
    }

    /* Esconder elementos por padrão */
    .fade-in-section {
      opacity: 0;
      transform: translateY(150px);
      transition: opacity 1.5s ease-out, transform 1s ease-out;
    }


    .fade-in-section.visible {
      opacity: 1;
      transform: none;
    }

    .fade-in-sectionx {
      opacity: 0;
      transform: translateX(-400px);
      transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    }

   
    .fade-in-sectionx.visible {
      opacity: 1;
      transform: none;
    }
    .fade-in-sectionx2 {
      opacity: 0;
      transform: translateX(400px);
      transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    }

    
    .fade-in-sectionx2.visible {
      opacity: 1;
      transform: none;
    }

    .card-borda {
      border: none; 
      transition: opacity 0.3s ease; /* Animação suave para a opacidade */
      background-color: #ffffff;
    }

    /* Efeito de hover para mudar a opacidade */
    .card:hover {
      opacity: 0.8; /* Define a opacidade quando o mouse passa */
    }

    .custom-color {
      transition: opacity 0.3s ease;
    }

    .custom-color:hover {
      background: linear-gradient(to top, #42d6ff, #0099E0);
      opacity: 0.6;
    }

  


   /*MODO ESCURO*/

   /**/
     .dark-mode {
      background-color: #121212;
      color: #ffffff;
    }
  
    .dark-mode .navbar {
      background: linear-gradient(#3BBEE2, #0085C3);
     
    }
    .dark-mode .navbar .nav-link {
      color: white;
     
    }

  
    .dark-mode .card {
      background-color: #1e1e1e;
      color: #ffffff;
    }
    .dark-mode .card-borda {
      background-color: #121212;
      color: #ffffff;
    }
  
    .dark-mode .dropdown-menu {
      background-color: #121212;
      color: #ffffff;
    }

    .dark-mode .btn-per{
      background-color: #1e1e1e;
      color: #ffffff;
      border: none;
    }

    .dark-mode .dropdown-menu .dropdown-item {
      background-color: #1e1e1e;
      color: #ffffff;
      cursor: pointer;
      border: 1px;
    }

    .dark-mode .sidebar {
      position: fixed;
      top: 0;
      right: -350px;
      width: 300px;
      height: 100%;
      background: linear-gradient(to bottom left, #3BBEE2, #0085C3);
      transition: right 0.7s ease-in-out;
      padding-top: 20px;
      z-index: 1050;
    }
    
    .dark-mode .sidebar .active {
      right: 0;
    }
    
    .dark-mode .sidebar .nav-link {
      color: white;
      font-size: 18px;
      padding: 15px 20px;
    }

    .dark-mode .sidebar .linkactive  {
      color: black;
      font-weight: bolder;
      font-size: 18px;
      padding: 15px 20px;
    }
    /*FIM DO MODO ESCURO*/

    .navbar{
      background: linear-gradient(#42d6ff, #0099E0);
    }

    .navbar-toggler, .back-button-navbar {
           color: black;
           border: none;
           font-size: 30px;
           cursor: pointer;
           
       }

       .dropdown-menu{

        border: none;
       }

       .dropdown-menu .dropdown-item {
        cursor: pointer;
        border: 1px;
        
      }

       .btn {
        
        border: none;

      }

      .custom-bg-blue {
           background-color: #e6f7ff; 
           padding: 20px; 
               margin:0px;
               max-width: 100%;
           border-radius: 0  px; 
      }
   #p-hover:hover {
       opacity: 1;
   }
   #carousel-item {
       background-size: cover;
       background-position: center;
   }
   #logo-texto span {
       transition: opacity 0.5s ease;
   }
   
   #logo-texto:hover span {
       opacity: 0.6; 
   }
    .carousel-caption {
       display: none;
       position: absolute;
       bottom: 0;
       left: 0;
       right: 0;
       background-color: rgba(0, 0, 0, 0.5);
       color: #fff;
       padding: 10px;
       text-align: center;
     }
     
   
   
     .carousel-item:hover .carousel-caption {
       display: block;
     }
   .custom-carousel-btn {
       color: white;
       border: none;
   }
   
   .custom-carousel-btn:hover {
       background-color: #D1E0FF; 
   }
   .sidebar {
    position: fixed;
    top: 0;
    right: -350px; /* Posição inicial fora da tela */
    width: 300px;
    height: 100%;
    background: linear-gradient(to bottom left, #0099E0, #42d6ff);
    transition: right 0.7s ease-in-out; /* Suavidade ao abrir/fechar */
    padding-top: 20px;
    z-index: 1050;
}

.sidebar.active {
    right: 0; /* Quando ativa, move para dentro da tela */
}

.sidebar .nav-link {
    color: black;
    font-size: 18px;
    padding: 15px 20px;
}
   

   .back-button {
     display: none;
     color: white;
     font-size: 18px;
     cursor: pointer;
     position: absolute;
     left: 25px;
     top: 20px;
   }
   
   .back-button.active {
     display: block;
     
   }


   
   /*PAGE SERVICOS*/



   .container-torneamento {
   
    background-color: #f6f6f6; 
    margin: 0px;
    padding: 20px; 
    max-width: 100%;

   }
   .dark-mode .container-torneamento{

    background-color: #121212;
    color: #ffffff;

   }

   .card-servicos{

    background-color: #ffffff;

   }
   .dark-mode .card-servicos{

    background-color: #1e1e1e;
    color: #ffffff;

   }


   /*PAGE CONTATO*/

   .dark-mode .p-ironpress{

    color: skyblue;
 
 }

.p-ironpress{

  font-size: 17pt; 
  color: darkblue;

}




   @media (max-width: 576px) {
    /*  tamanho do mapa responsivo para dispositivos móveis */
    .map-responsive iframe {
        width: 100%; 
        height: 250px; 
    }
}



/*PAGE PRODUCAO*/

.dark-mode .container-torneamento{

  background-color: #1e1e1e;
  color: white;
}


/*PAGE ORCAMENTO*/

.texto-imagem {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 10;
    opacity: 0;  /* Começa invisível */
    transition: opacity 0.7s; 
}

  /* Altura para telas maiores (desktops, notebooks, tablets) */
  @media (min-width: 992px) {
    #google-form-iframe {
        height: 1400px;
    }
}

/* Altura para dispositivos móveis */
@media (max-width: 991px) {
    #google-form-iframe {
        height: 1500px;
    }
}

/* Barra de rolagem personalizada */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #0179b1, #2f96b3); 
  border-radius: 10px; 
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #2f96b3, #0179b1); 
}

::-webkit-scrollbar-track {
  background: #f6f6f6;
  border-radius: 10px; 
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); 
}

/* Barra de rolagem no modo escuro */
.dark-mode ::-webkit-scrollbar-track {
  background: #000000; 
  box-shadow: inset 0 0 5px rgba(90, 90, 90, 0.3);
}

.dark-mode ::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #0179b1, #2f96b3);

}
.dark-mode ::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #2f96b3, #0179b1); 
}


.form-orcamento * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-color: #f6f6f6;
}

.form-orcamento {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f6f6f6;
}

.form-orcamento .container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}


.form-orcamento .container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.form-orcamento .container span {
  font-size: 12px;
}

.form-orcamento .container a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.form-orcamento .container button {
  background-color: rgb(255, 118, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(34, 31, 31, 0.3);
  transition: 0.5s ease;
}

.form-orcamento .container button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.form-orcamento .container button:hover {
  background: rgb(255, 118, 0);
  transform: scale(1.1);
}

.form-orcamento .container form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.form-orcamento .container input {
  background-color: #eee;
  border: none;
  margin: 5px 0px 0px 0px;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.input-box textarea {
  background-color: #eee;
  border: none;
  margin: 0px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  resize: none;
}

.form-orcamento .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.dark-mode .form-orcamento .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.form-orcamento .sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.form-orcamento .container.active .sign-in {
  transform: translateX(100%);
}

.form-orcamento .sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.form-orcamento .container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%, 49.99% {
      opacity: 0;
      z-index: 1;
  }
  50%, 100% {
      opacity: 1;
      z-index: 5;
  }
}

.form-orcamento .social-icons {
  margin: 20px 0;
}

.form-orcamento .social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(218, 59, 59, 0.3);
  transition: 0.3s ease;
}

.form-orcamento .social-icons a:hover {
  transform: translateY(-25%);
  background: rgb(255, 118, 0);
}

.form-orcamento .toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.form-orcamento .container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.form-orcamento .toggle {
  height: 100%;
  background: linear-gradient(to bottom left, #0085C3, #3BBEE2);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.form-orcamento .container.active .toggle {
  transform: translateX(50%);
}

.form-orcamento .toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.form-orcamento .toggle-left {
  left: 0;
  transform: translateX(-300%);
}

.form-orcamento .container.active .toggle-left {
  transform: translateX(0);
}

.form-orcamento .toggle-right {
  right: 0;
  transform: translateX(0);
}

.form-orcamento .container.active .toggle-right {
  transform: translateX(200%);
}

.form-orcamento .toggle-panel img {
  width: auto;
  max-width: 60%;
  height: auto;
  max-height: 150px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.form-orcamento #rodape {
  font-size: 12px;
  color: #fff;
  margin-top: 20px;
  text-align: center;
  opacity: 0.8;
}


/*DARK MODE*/


.dark-mode .form-orcamento .container {
  background-color: #121212;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(90, 90, 90, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  transition: all 0.6s ease-in-out;
}


.dark-mode  body{
  background-color: #121212;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
}

.dark-mode .form-orcamento {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #121212;
  transition: all 0.4s ease-in-out;
}

.dark-mode .form-orcamento .container form {
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
  transition: all 0.4s ease-in-out;
  
}

.dark-mode .form-orcamento .toggle {
  height: 100%;
  background: linear-gradient(to bottom left, #0179b1, #2f96b3);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
}

.dark-mode .form-orcamento .container input {
  background-color: #a3a3a3;
  border: none;
  margin: 5px 0px 0px 0px;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  transition: all 0.4s ease-in-out;
}

.dark-mode .form-orcamento .container textarea {
  background-color: #a3a3a3;
  margin: 0px 0;

}

.dark-mode .form-orcamento .container button:hover {
  background: rgb(209, 98, 1);
  transform: scale(1.1);
}


@media(max-width: 1500px) {
  .form-orcamento .container h2{
      text-align: center;
      font-size: 5rem;
      margin-bottom: -3rem;
      margin-top: -3rem;
  }
  
  .form-orcamento .container{
      margin-top: -6rem;
      margin-bottom: 0rem;
  }
}
@media(max-width: 1200px){
  .form-orcamento .container h2{
      text-align: center;
      font-size: 5rem;
      margin-bottom: 10rem;
      margin-top: -5rem;
  }
  
  .form-orcamento .container{
      margin-top: -5rem;
      margin-bottom: 1rem;
  }
}

/* Removendo margens extras de cima e embaixo dos spans */
#span-form1, #span-form2, #nome-error, #email-error, #phone-error, #message-error {
  margin-top: 1px;  /* Margem superior pequena */
  margin-bottom: 1px;  /* Margem inferior pequena */
  display: inline-block; /* Garante que o span ocupe apenas o espaço necessário */
}

/* Estilo para a mensagem de erro */
.error-message {
  font-size: 0.875rem;  /* Tamanho menor da fonte */
  color: red;  /* Cor vermelha para mensagens de erro */
  display: none;  /* Oculta a mensagem de erro por padrão */
  margin-top: 5px; /* Pequeno espaçamento entre o campo e a mensagem */
}

/* Exibe a mensagem de erro quando o campo for inválido */
.input-box.invalid .error-message {
  display: block;
}











