/*PAGE INICIAL*/

body{
    overflow-x: hidden;
    transition: background-color 0.6s, color 0.6s;
    }

    .sidebar .nav-link-active {
      color: white;
      font-weight: bolder;
    }

    /* Esconder elementos por padrão */
    .fade-in-section {
      opacity: 0;
      transform: translateY(150px);
      transition: opacity 1.5s ease-out, transform 1s ease-out;
    }


    .fade-in-section.visible {
      opacity: 1;
      transform: none;
    }

    .fade-in-sectionx {
      opacity: 0;
      transform: translateX(-400px);
      transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    }

   
    .fade-in-sectionx.visible {
      opacity: 1;
      transform: none;
    }
    .fade-in-sectionx2 {
      opacity: 0;
      transform: translateX(400px);
      transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    }

    
    .fade-in-sectionx2.visible {
      opacity: 1;
      transform: none;
    }

    .card-borda {
      border: none; 
      transition: opacity 0.3s ease; /* Animação suave para a opacidade */
      background-color: #ffffff;
    }

    /* Efeito de hover para mudar a opacidade */
    .card:hover {
      opacity: 0.8; /* Define a opacidade quando o mouse passa */
    }

    .custom-color {
      transition: opacity 0.3s ease;
    }

    .custom-color:hover {
      background: linear-gradient(to top, #42d6ff, #0099E0);
      opacity: 0.6;
    }

  


   /*MODO ESCURO*/

   /**/
     .dark-mode {
      background-color: #121212;
      color: #ffffff;
    }
  
    .dark-mode .navbar {
      background: linear-gradient(#3BBEE2, #0085C3);
     
    }
    .dark-mode .navbar .nav-link {
      color: white;
     
    }

  
    .dark-mode .card {
      background-color: #1e1e1e;
      color: #ffffff;
    }
    .dark-mode .card-borda {
      background-color: #121212;
      color: #ffffff;
    }
  
    .dark-mode .dropdown-menu {
      background-color: #121212;
      color: #ffffff;
    }

    .dark-mode .btn-per{
      background-color: #1e1e1e;
      color: #ffffff;
      border: none;
    }

    .dark-mode .dropdown-menu .dropdown-item {
      background-color: #1e1e1e;
      color: #ffffff;
      cursor: pointer;
      border: 1px;
    }

    .dark-mode .sidebar {
      position: fixed;
      top: 0;
      right: -350px;
      width: 300px;
      height: 100%;
      background: linear-gradient(to bottom left, #3BBEE2, #0085C3);
      transition: right 0.7s ease-in-out;
      padding-top: 20px;
      z-index: 1050;
    }
    
    .dark-mode .sidebar .active {
      right: 0;
    }
    
    .dark-mode .sidebar .nav-link {
      color: white;
      font-size: 18px;
      padding: 15px 20px;
    }

    .dark-mode .sidebar .linkactive  {
      color: black;
      font-weight: bolder;
      font-size: 18px;
      padding: 15px 20px;
    }
    /*FIM DO MODO ESCURO*/

    .navbar{
      background: linear-gradient(#42d6ff, #0099E0);
    }

    .navbar-toggler, .back-button-navbar {
           color: black;
           border: none;
           font-size: 30px;
           cursor: pointer;
           
       }

       .dropdown-menu{

        border: none;
       }

       .dropdown-menu .dropdown-item {
        cursor: pointer;
        border: 1px;
        
      }

       .btn {
        
        border: none;

      }

      .custom-bg-blue {
           background-color: #e6f7ff; 
           padding: 20px; 
               margin:0px;
               max-width: 100%;
           border-radius: 0  px; 
      }
   #p-hover:hover {
       opacity: 1;
   }
   #carousel-item {
       background-size: cover;
       background-position: center;
   }
   #logo-texto span {
       transition: opacity 0.5s ease;
   }
   
   #logo-texto:hover span {
       opacity: 0.6; 
   }
    .carousel-caption {
       display: none;
       position: absolute;
       bottom: 0;
       left: 0;
       right: 0;
       background-color: rgba(0, 0, 0, 0.5);
       color: #fff;
       padding: 10px;
       text-align: center;
     }
     
   
   
     .carousel-item:hover .carousel-caption {
       display: block;
     }
   .custom-carousel-btn {
       color: white;
       border: none;
   }
   
   .custom-carousel-btn:hover {
       background-color: #D1E0FF; 
   }
   .sidebar {
    position: fixed;
    top: 0;
    right: -350px; /* Posição inicial fora da tela */
    width: 300px;
    height: 100%;
    background: linear-gradient(to bottom left, #0099E0, #42d6ff);
    transition: right 0.7s ease-in-out; /* Suavidade ao abrir/fechar */
    padding-top: 20px;
    z-index: 1050;
}

.sidebar.active {
    right: 0; /* Quando ativa, move para dentro da tela */
}

.sidebar .nav-link {
    color: black;
    font-size: 18px;
    padding: 15px 20px;
}
   

   .back-button {
     display: none;
     color: white;
     font-size: 18px;
     cursor: pointer;
     position: absolute;
     left: 25px;
     top: 20px;
   }
   
   .back-button.active {
     display: block;
     
   }


   
   /*PAGE SERVICOS*/



   .container-torneamento {
   
    background-color: #f6f6f6; 
    margin: 0px;
    padding: 20px; 
    max-width: 100%;

   }
   .dark-mode .container-torneamento{

    background-color: #121212;
    color: #ffffff;

   }

   .card-servicos{

    background-color: #ffffff;

   }
   .dark-mode .card-servicos{

    background-color: #1e1e1e;
    color: #ffffff;

   }


   /*PAGE CONTATO*/

   .dark-mode .p-ironpress{

    color: skyblue;
 
 }

.p-ironpress{

  font-size: 17pt; 
  color: darkblue;

}




   @media (max-width: 576px) {
    /*  tamanho do mapa responsivo para dispositivos móveis */
    .map-responsive iframe {
        width: 100%; 
        height: 250px; 
    }
}



/*PAGE PRODUCAO*/

.dark-mode .container-torneamento{

  background-color: #1e1e1e;
  color: white;
}


/*PAGE ORCAMENTO*/

.texto-imagem {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 10;
    opacity: 0;  /* Começa invisível */
    transition: opacity 0.7s; 
}

  /* Altura para telas maiores (desktops, notebooks, tablets) */
  @media (min-width: 992px) {
    #google-form-iframe {
        height: 1400px;
    }
}

/* Altura para dispositivos móveis */
@media (max-width: 991px) {
    #google-form-iframe {
        height: 1500px;
    }
}









